* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
            font-family: 'Inter', sans-serif;
        background-image: url('https://media.istockphoto.com/photos/presidential-election-day-voting-concept-picture-id611606520?k=20&m=611606520&s=612x612&w=0&h=89AkamLpEmiV-kguVzVGQMYnzzzZlRkJ53WKt15-5cM=');
        background-repeat: no-repeat, repeat;
        background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #555;
    padding-top: 200px;
    height: 100%;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

#poll-list-page {
    width: 300px;

    background-color: gray;
    margin-left: 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    color: white;
    opacity: 0.9;
    float: left;
}

.poll-list-element {

}

#chat-page {
    height: 100%;
    opacity: 0.9;
    margin-left: 350px;
    padding-right: 120px;
}

.chat-container {
/*     max-width: 700px; */
    margin-left: 60px;
    width: 100%;
    background-color: gray;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    padding: 8px;
    height: calc(100% - 60px);
    max-height: 700px;
    position: relative;
    float: left;
}

#chat-page ul {
    list-style-type: none;
    background-color: #bbb;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

.user-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: #ececec;
    border-radius: 8px;
    text-align: center;
}

.user-panel .container {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    float: left;
}

.user-panel .button {
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: auto;
    margin-top: 40px;
    text-align: left;
    border: 0;
    background: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    transition: 0.35s;
    cursor: pointer;
}

.user-panel .bottom-space .button {
    margin-top: 0px;
    margin-left: -10px;
}
.user-panel .bottom-space .button:hover {
    margin-top: 0px;
    margin-left: 0px;
}


.user-panel .button:hover {
    width: auto;
    font-weight: bold;
    margin-left: 10px;
}

.bar {
    width: 100%;
    height: 30px;
    background-color: gray;
    border-radius: 0px;
    overflow: hidden;
    float: left;
}

.bar-filled {
    height: 100%;
    border-radius: 0 8px 8px 0px;
    background-color: silver;
}
