<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" /> <br />
    <label for="repeatPassword">Repeat password:</label>
    <input type="password" id="repeatPassword" name="repeatPassword" /> <br />
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" /> <br />
    <label for="party">Preferred party:</label>
    <select id="party" name="party">
        <option>Prawo i Sprawiedliwość</option>
        <option>Platforma Obywatelska</option>
        <option>Nowa Lewica</option>
        <option>Polskie Stronnictwo Ludowe</option>
        <option>Konfederacja</option>
        <option>Polska 2050</option>
        <option>Inna</option>
    </select>
    <input type="submit" value="Register" id="submitRegistrationButton" disabled />
</form>
<div id="alert" style="display: none; color: red;">Passwords do not match</div>
<div id="error" style="visibility: hidden">User with such username or email already exists</div>
<script>
document.getElementById("repeatPassword").addEventListener('input', (event) => {
    let firstPass = document.getElementById("password").value;
    let secondPass = document.getElementById("repeatPassword").value;
    if (firstPass !== secondPass) {
        document.getElementById("alert").style.display = "inline";
        document.getElementById('submitRegistrationButton').disabled = true;
    } else {
        document.getElementById("alert").style.display = "none";
        document.getElementById('submitRegistrationButton').disabled = false;
    }
});
</script>
<script src="auth.js"></script>
</body>
</html>